  html, body {
    margin:0;
    background-color: lightcoral;
  }

  #palette {
        position: relative;
        margin-bottom: 0;
        display: inline-block;
  }
  ul > li {
      display: inline-block;
  }

  .palette-colour {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: 3px solid black;
      box-shadow: (20,40,10,3);
      margin: 5px;
      cursor: pointer;
  }

  .palette-colour:last-child {
    background-color: black;
    background-image: url("beachball.jpg");
  }
  canvas {
    border: 1px solid black;
    cursor: crosshair;
  }

  .brush-width {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid black;
    margin: 5px;
    cursor: pointer;
  }

  .outer {
    background-color: white;
    position: relative;
  }

  .inner {
    background-color: black;
    position: relative;
    border-radius: 50%;
  }
a {
  display: inline;
  top: -65px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  background-color: white;
  text-transform: uppercase;
  font-family: monospace;
  color: black;
}
a:hover {
  color: white;
  text-decoration: none;
  background-color: blue;
}
#widthSelector {
  display: inline-block;
}